/* thiết kế theo kiểu mobile first */
body {
  display: grid;
  grid-template-columns: repeat(8;1fr);
  background-color: green;
}
@media screen and (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: repeat(5;1fr);
    background-color: white;
  }
}
.item {
  height: 300px;
  width: 100%;
  background: #591111;
}
