* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2 {
  color: #6c757c;
}
.p-1 {
  color: #6c757c;
}
.logo {
  padding: 13px 27px;
  background-color: #353a40;
  color: white;
}
.content-00 {
  padding: 30px;
}

.section-01 {
  text-align: center;
}
.button-00 {
  padding: 13px 13px 13px;
}
.button-01 {
  padding: 5px;
  background-color: #0079fe;
  color: white;
  border-radius: 4px;
  border: 0;
}
.button-02 {
  padding: 5px;
  color: white;
  background-color: #6c757c;
  border: 0;
  border-radius: 4px;
}
.section-02 {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  border: 20px;
  background-color: #f5f9fc;
}
@media screen and (max-width: 900px) {
  .section-02 {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    border: 20px;
    background-color: #f5f9fc;
  }
  .window-01 {
    display: grid;
    grid-template-columns: auto;
    background-color: #f5f9fc5d;
    align-items: center;
    padding: 0 30px 30px;
  }
}
.window-02 {
  display: grid;
  grid-template-columns: auto;
  background-color: #f5f9fc5d;
  align-items: center;
  padding: 0 30px 30px;
}

.window-01 {
  display: grid;
  grid-template-columns: auto;
  background-color: #f5f9fc5d;
  align-items: center;
  padding: 0 30px 30px;
}

.window-02 {
  display: grid;
  grid-template-columns: auto;
  background-color: #f5f9fc5d;
  align-items: center;
  padding: 0 30px 30px;
}
.content {
  display: grid;
  background-color: white;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.img {
  display: grid;
  width: 100%;
  height: 130px;
  background: #54585b;
  color: white;
}
.button-display {
  display: flex;
  padding: 5px;
  align-items: self-start;
}
.button-04 {
  background-color: white;
  color: #6c757c;
  border-radius: 3px;
  border: 2px solid #6c757c;
  padding: 5px;
}
.button-05 {
  background-color: white;
  color: #6c757c;
  border-radius: 3px;
  border: 2px solid #6c757c;
  padding: 5px;
}
